<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RUOkay"
        tools:targetApi="31">
        <activity
            android:name=".setting.PsychologistProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PsychologistActivity"
            android:exported="false" />
        <activity
            android:name=".moodtracker.WeeklyMoodSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".moodtracker.EmotionSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".moodtracker.MoodDetailActivity"
            android:exported="false" />
        <activity
            android:name=".consult.VideoCallActivity"
            android:exported="false" />
        <activity
            android:name=".consult.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".consult.ConsultPsychologListActivity"
            android:exported="false" />
        <activity
            android:name=".journal.JournalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".journal.WriteJournalActivity"
            android:exported="false" />
        <activity
            android:name=".setting.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".auth.LandingActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".auth.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>